<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abstract</title>
    <link rel="icon" type="image/x-icon" href="/static/website_logo_no_slogan.jpg">
    <link rel="stylesheet" href="/static/registration_style.css">
</head>
<body>
    <nav>
        <div class="nav_first_line">
            <img src="/static/website_logo_no_slogan.jpg" height="80px" width="80px" style="border-radius: 50%;">
            <div class="nav-left">
                <a href="/home">Home</a>
                <a href="/about">About</a>
                <a href="/contact">Contact</a>
                <a href="/products">Products</a>
                <a href="/cart">Cart</a>
            </div>
        
            <div class="nav-right">
                <a href="/registration">Register</a>
                <a href="/login">Log in</a>
            </div>
        </div>
    </nav>
    <br><br>
    <div class="art_types">
        <a href="/paintings">Paintings</a>
        <a href="/illustrations">Illustrations</a>
        <a href="/abstract">Abstract</a>
        <a href="/sketches">Sketches</a>
        <a href="/portraits">Portraits</a>
    </div>
    <footer>
    </footer>
</body>
</html>