<!DOCTYPE html>
{% extends "index.html" %}

{% block section6 %}
    <div class="artists-section">
        <h2><i><center>“Art is not what you see, but what you make others see.” <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Edgar Degas</center></i></h2>
        <table class="artists-table">
            {% for i in results %}
            <tr>
                <td><img src="{{i[4]}}" height="200px" width="200px" class="artist-img"></td>
                <td>
                    <b>{{i[1]}}</b><br>
                    <i>Hails From:</i>{{i[2]}}<br><br>
                    {{i[3]}}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% block section3 %}
<footer class="footer">
    <p>&copy; 2024 Art Gallery. All rights reserved.</p>
    <div class="social-media">
        <a href="#" class="social-link">Facebook</a> | 
        <a href="#" class="social-link">Instagram</a> | 
        <a href="#" class="social-link">Twitter</a>
    </div>
</footer>
{% endblock %}
