<!DOCTYPE html>
{% extends "index.html" %}

{% block section1 %}
<style>
    
</style>
<div class="filter">
    <h3> Filter </h3>
    <form class="filter-form" method="GET" action="/filter_artwork">
        <div class="by-category">
            <label for="category-filter">Filter by Category:</label>
            <select id="category-filter" name="category">
                <option value="">Select Category</option>
                <option value="Abstract">Abstract</option>
                <option value="Photography">Photography</option>
                <option value="Landscape">Landscape</option>
                <option value="Sketches">Sketching</option>
                <option value="Pottery">Pottery</option>
            </select>
        </div>
        
        <div class="by-artist">
            <label><strong>Filter by Artist:</strong></label>
            <label><input type="checkbox" name="artist" value="Jean Court"> Jean Court</label>
            <label><input type="checkbox" name="artist" value="Jim Hopper"> Jim Hopper</label>
            <label><input type="checkbox" name="artist" value="Joey Brandon"> Joey Brandon</label>
            <br><input type="submit" value="Filter">
        </div>
    </form>  
</div>

<!-- Flex container for the product images -->
<div class="artworks-container">
    {% for res in res %}
    <div class="artworks-card">
        <img src="{{ res[3] }}" alt="Artwork">
        <div class="artworks-details">
            <a href="{{url_for('products', product_id=res[0])}}" class="btn">See more</a>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}
{% block section3 %}
  <footer class="footer">
      <p>&copy; 2024 Art Gallery. All rights reserved.</p>
      <div class="social-media">
          <a href="#" class="social-link">Facebook</a> | 
          <a href="#" class="social-link">Instagram</a> | 
          <a href="#" class="social-link">Twitter</a>
      </div>
  </footer>
{% endblock %}