<!DOCTYPE html>
{% extends "index.html" %}

{% block section1 %}
  <div class="event-bg">
    <div class="text-overlay">
      <h1><i>Experience art like never before</i></h1>
    </div>
  </div>
{% endblock %}

{% block section2 %}
  <section class="events-section"> 
    <h2><i>Upcoming Events</i></h2>

    <table class="events-table">
      <tr>
        {% for i in results1 %}
        <td>
          <div class="event-card">
            <img src="{{i[4]}}">
            <div class="event-details">
              <i>{{i[1]}}</i>
              <p>Date: {{i[2]}}</p>
              <p>{{i[3]}}</p>
              <a href="/event_registration" class="btn">Register Now</a>
            </div>
          </div>
        </td>
        {% endfor %}
      </tr>
    </table>

    <h2><i>Later This Season</i></h2>
    <table class="events-table">
      <tr>
        {% for i in results2 %}
        <td>
          <div class="event-card">
            <img src="{{i[4]}}">
            <div class="event-details">
              <i>{{i[1]}}</i>
              <p>Date: {{i[2]}}</p>
              <p>{{i[3]}}</p>
              <a href="/event_registration" class="btn">Register Now</a>
            </div>
          </div>
        </td>
        {% endfor %}
      </tr>
      </table>
  </section>
{% endblock %}

{% block section3 %}
  <footer class="footer">
      <p>&copy; 2024 Art Gallery. All rights reserved.</p>
      <div class="social-media">
          <a href="#" class="social-link">Facebook</a> | 
          <a href="#" class="social-link">Instagram</a> | 
          <a href="#" class="social-link">Twitter</a>
      </div>
  </footer>
{% endblock %}
