<!DOCTYPE html>
{% extends "index.html" %}

{% block section1 %}
    Artistry Portal
{% endblock %}

{% block section2 %}
<style>
    .section1 {
        font-size: 45px;
        text-align: center;
    }

</style>

 <!-- Flex container for the product images -->
 <div class="artworks-container">
    {% for res in res %}
    <div class="artworks-card">
        <img src="{{ res[3] }}" class="product_image" alt="Product Image">
        <div class="artworks-details">
            <a href="{{url_for('products', product_id=res[0])}}" class="btn">{{ res[2] }}</a>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}
{% block section3 %}
  <footer class="footer">
      <p>&copy; 2024 Art Gallery. All rights reserved.</p>
      <div class="social-media">
          <a href="#" class="social-link">Facebook</a> | 
          <a href="#" class="social-link">Instagram</a> | 
          <a href="#" class="social-link">Twitter</a>
      </div>
  </footer>
{% endblock %}
