<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <!-- Customized Bootstrap Stylesheet -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <title>Home Page</title>
</head>
<body>
    <div class="container">
        <header>
            <a href="/index"><img src="/static/images/logo.jpg" class="logo" alt="logo"></a>
            <nav>
                <ul class="nav_links">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/events">Events</a></li>
                    <li><a href="/artwork">Artworks</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                    {% if 'email' in session %}
                    <li><a href="/logout">Logout</a></li>
                    {% endif %}
                </ul>
            </nav>
            <a class="cta" href="/login"><button>Login</button></a>
        </header>
        <div class="section1">
            {% block section1 %}
            {% endblock %}
        </div>
        <div class="section2">
            {% block section2 %}
            {% endblock %}
        </div>
        <div class="section4">
            {% block section4 %}
            {% endblock %}
        </div>
        <div class="section5">
            {% block section5 %}
            {% endblock %}
        </div>
        <div class="section6">
            {% block section6 %}
            {% endblock %}
        </div>
        <div class="section7">
            {% block section7 %}
            {% endblock %}
        </div>
        <div class="section8">
            {% block section8 %}
            {% endblock %}
        </div>
        <div class="section9">
            {% block section9 %}
            {% endblock %}
        </div>
        <div class="section10">
            {% block section10 %}
            {% endblock %}
        </div>

        <div class="section3">
            {% block section3 %}
            {% endblock %}
        </div>

        <div class="sectioncheckout">
            {% block sectioncheckout %}
            {% endblock %}
        </div>
    </div>
    
</body>
</html>