<!DOCTYPE html>
{% extends "index.html" %}

{% block section10 %}
<br><br><br><br>
<h2 style="text-align: center;"><i>You've successfully registered for the <span style="color: blue;"> {{ event }} </span> event! <br><br>
We look forward to hosting you at Art Haven soon.</i></h2>
<br><br><br><br>
{% endblock %}

{% block section3 %}
    <footer class="footer">
        <p>&copy; 2024 Art Gallery. All rights reserved.</p>
        <div class="social-media">
            <a href="#" class="social-link">Facebook</a> | 
            <a href="#" class="social-link">Instagram</a> | 
            <a href="#" class="social-link">Twitter</a>
        </div>
    </footer>
{% endblock %}
<br><br>